{{ form_start(form) }}
{{ form_row(form.name, { 'label': 'Nom de la catégorie' }) }}
<button type="submit" class="btn btn-success">{{ button_label|default('Confirmer') }}</button>
{{ form_end(form) }}
